.wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  > .fixed {
    position: fixed;
    z-index: 10;
    top: 30vh;
    transform: translateX(-100%);
    padding-right: 10px;

    .widgetWrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      + .widgetWrapper {
        margin-top: 1rem;
      }
    }
  }

  @media (max-width: 1024px) {
    > .fixed {
      top: 100%;
      bottom: 0;
      padding-right: 0;
      width: 100vw;
      height: 52px;
      height: calc(52px + constant(safe-area-inset-bottom));
      height: calc(52px + env(safe-area-inset-bottom));
      background-color: var(--bg-second);
      border-top: 1px solid var(--border-color);
      transform: translate(0, 0);
      transition: all 0.2s;

      display: flex;
      flex-wrap: nowrap;

      &.active {
        transform: translate(0, -100%);
      }

      .widgetWrapper {
        flex: 1;

        + .widgetWrapper {
          margin-top: 0;
        }
      }
    }
  }

  @media (min-width: 1025px) {
    > .fixed {
      margin-left: -930px;
    }
  }

  @media (min-width: 1200px) {
    > .fixed {
      margin-left: -1120px;
    }
  }

  @media (min-width: 1440px) {
    > .fixed {
      margin-left: -1140px;
    }
  }

  > .left {
    flex: 1;
    width: calc(100% - 20rem - 1rem);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  > .right {
    width: 20rem;
    margin-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  @media (max-width: 768px) {
    > .left,
    > .right {
      width: 100%;
    }

    > .left {
      padding-bottom: 1rem;
    }

    > .right {
      margin-left: 0;

      &.isRightNodeMobileHidden {
        width: 0;
        display: none;
      }
    }
  }
}
