@include b(collapse) {
  box-sizing: border-box;
  height: 48px;
  background: #fff;
  overflow: hidden;
  border-bottom: 1px solid $border;

  will-change: height;
  transition: all ease .3s;

  @include e(header) {
    box-sizing: border-box;
    padding: 0 5px;
    line-height: 48px;
    @include flexLayout(space-between);

    > * {
      @include textOverflow;
    }

    > div {
      flex: 1;
      @include flexLayout(flex-start) {
        align-items: center;
      }
    }

    .ta-icon {
      cursor: pointer;
      transition: all ease .2s;

      @include when(active) {
        transform: rotate(90deg);
      }
    }
  }

  @include e(body) {
    overflow: hidden;
    padding: 15px;
  }
}
