@import '../mixin/bem.scss';
@import '../mixin/layout.scss';

@include b(container) {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  padding-left: 180px;

  transition: padding ease .3s;

  @include when(fullscreen) {
    padding-left: 45px;
  }

  @include e(aside) {
    display: inline-flex;
    box-sizing: border-box;
    width: 180px;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;

    transition: all ease .3s;

    @include when(collapse) {
      width: 45px;
    }
  }

  @include e(content) {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    flex-direction: column;
    @include flexLayout(flex-start, inline-flex);

    header { 
    }

    main {
      box-sizing: border-box;
      padding: 15px;
      flex: 1;
      overflow: auto;
      background-color: #f0f0f0;
    }
  }
}