@import '../mixin/bem.scss';
@import '../mixin/layout.scss';
@import '../var/color.scss';

@include b(loadingbar) {
  position: fixed;
  left: 0;

  width: 10px;
  height: 2px;

  background-color: $primary;
}