@import '../mixin/bem.scss';
@import '../mixin/layout.scss';
@import '../var/color.scss';

@include b(navmenu) {
  position: relative;
  width: 100%;
  height: 100%;

  background-color: $bg;
  font-size: 14px;

  li {
    position: relative;
    max-height: 56px;
    overflow: hidden;

    transition: all ease .3s;

    @include when(active) {
      max-height: 500px;
    }

    a, p {
      box-sizing: border-box;
      width: 100%;
      height: 56px;
      padding-left: 20px;

      color: rgb(191, 203, 217);

      align-items: center;
      @include flexLayout(flex-start, inline-flex);

      transition: all ease .2s;

      &:hover {
        background-color: rgb(38, 52, 69);
      }

      .ta-icon {
        margin-right: 15px;
      }
    }

    a.router-link-exact-active {
      color: $primary;
    }

    p {
      position: relative;
      margin: 0;
      cursor: pointer;

      .ta-icon__arrow {
        position: absolute;
        right: 5px;
        font-size: 1em;

        transition: all ease .3s;

        @include when(active) {
          transform: rotate(180deg);
        }
      }
    }
  }

  @include e(submenu) {
    background-color: #1f2d3d;

    li {
      a {
        padding-left: 30px;
        background-color: #1f2d3d;

        &:hover {
          background-color: #001528;
        }
      }
    }
  }

  // 当菜单折叠时的样式
  @include when(collapse) {
    li {
      position: relative;
      max-height: 56px !important;
      overflow: visible;

      a, p {
        padding-left: 0;
        align-items: center;
        @include flexLayout();

        .ta-icon__arrow {
          display: none;
        }
      }

      .ta-icon {
        margin-right: 0;
      }

      > span {
        position: absolute;
        left: 47px;
        z-index: 1000;

        width: 140px;
        height: 100%;

        align-items: center;
        @include flexLayout();
        background-color: inherit;
        display: none;

        &:hover {
          display: block;
        }
      }

      > ul {
        display: none;
        position: absolute;
        left: 47px;
        top: 0;
  
        li {
          width: 140px;
          height: 100%;
          position: relative;

          p {
            padding-left: 10px;

            .ta-icon {
              display: block;
              margin-left: 5px;
            }

            span {
              box-sizing: border-box;              
              padding: 15px;
              justify-content: flex-start;
            }

            .ta-icon__arrow {
              display: block;
              transform: rotate(-90deg);
              right: 10px;
            }
          }

          > ul {
            display: none;
            left: 142px;

            &:hover {
              display: block;
            }
          }

          a {
            padding: 0;
          }

          span {
            position: relative;
            left: 0;
          }
        }

        li.is-opened {
          display: block;

          > ul {
            display: block;
          }
        }
      }
    }

    li:hover {
      span {
        display: flex;
      }

      > ul {
        display: block;
      }
    }
  }
}
