@include b(navmenu) {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  // padding: 52px 0;

  background-color: $bg;
  font-size: 14px;
  cursor: pointer;

  li {
    position: relative;
    height: 56px;
    transition: all ease .3s;
    overflow: hidden;

    &:hover {
      background-color: rgb(38, 52, 69);
    }

    @include when(active) {
      max-height: 500px;
    }

    > div{
      width: 100%;
      height: 56px;

      box-sizing: border-box;
      padding-left: 20px;

      line-height: 56px;
      color: rgb(191, 203, 217);

      @include flexLayout(flex-end) {
        flex-direction: row-reverse;
      };

      a{
        flex: 1;
      }

      .ta-icon {
        margin-right: 15px;

        @include e(arrow) {
          cursor: pointer;

          position: absolute;
          right: 15px;
          transition: all ease .2s;

          @include when(active) {
            transform: rotate(180deg);
          }
        }
      }
      
      a.router-link-exact-active,
      a.router-link-exact-active + .ta-icon {
        color: $primary;
      }
    }
  }

  @include e(submenu) {
    width: 100%;
    background-color: #1f2d3d;

    li {
      > div {
        padding-left: 60px;
        background-color: #1f2d3d;

        &:hover {
          background-color: #001528;
        }
      }
    }
  }

  // 当菜单折叠时的样式
  @include when(collapse) {
    > ul > li {
      overflow: visible;
      max-height: 56px;

      &:hover {
        background-color: #1f2d3d;

        > div > a,
        > ul {
          display: block;
        }
      }

      > div {
        position: relative;
        padding-left: 0;
        justify-content: center;
        
        .ta-icon {
          margin: 0;
        }

        @include b(icon){
          margin: 0;
  
          @include e(arrow) {
            display: none;
          }
        }
  
        > span {
          display: none;
        }
  
        > a {
          display: none;
          position: absolute;
          left: 45px;
          z-index: 3000;
        
          width: 130px;
          padding: 0 10px;
  
          background: transparent;

          &:hover {
            span {
              background-color: #001528;
            }
          }
  
          span {
            display: block;
            text-align: center;
            border-radius: 4px;
            background-color: #1f2d3d;
          }
        }
      }

      > ul {
        display: none;
        position: absolute;
        top: 0;
        left: 45px;
        z-index: 3000;
      
        width: 130px;
        padding: 0 10px;

        background: transparent;

        li {
          &:first-of-type {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
          }

          &:last-of-type {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
          }

          > div {
            padding: 0;
  
            a {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
