@mixin active {
  border: 1.2px dashed $primary;
}

@mixin preview {
  border: 1.2px solid $primary;
}

@include b(upload) {
  box-sizing: border-box;
  width: 100%;

  @include e(container) {
    box-sizing: border-box;
    height: 240px;
    border: 1px dashed #eee;
    border-radius: 4px;
    overflow: hidden;

    @include flexLayout() {
      align-items: center;
    }
  
    &:hover {
      @include active;
    }
  
    @include when(active) {
      @include active;
    }

    @include when(preview) {
      @include preview;
    }
  
    > div {
      text-align: center;
      padding-bottom: 1.5em;
    }
  
    .ta-icon {
      color: $primary;
      font-size: 5em;
    }
  }

  @include e(tip) {
    padding: 10px 0;
    box-sizing: border-box;
    @include flexLayout(space-between) {
      align-items: center;
    }

    .ta-icon {
      color: $success;

      @include when(failed) {
        color: $danger;
      }
    }
  }
  

  p {
    margin: 0;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    span {
      color: $primary;

      @include when(failed) {
        color: $danger;
      }
    }
  }

  img {
    width: 100%;
    max-height: 100%;
  }

  input {
    display: none;
  }
}
