@mixin common() {
  padding: 0 15px;
  background: #fff;
  border-radius: 2px;
  margin-bottom: 22px;
}

@include b(article-list) {
  @include flexLayout(flex-start) {
    flex-direction: column;
  };
}

@include b(searcharea) {
  @include common;

  @include e(item) {
    padding: 10px 0;
    border-bottom: 1px dashed $border;

    &:last-of-type {
      border-bottom: 0;
    }

    span {
      margin-right: 1em;
    }

    button + button {
      margin-left: 10px;
    }
  }
}

@include b(content) {
  flex: 1;
  @include common;
  padding: 15px;

  @include flexLayout(flex-start) {
    flex-direction: column;
  };

  @include e(main) {
    flex: 1;
    overflow: auto;

    td {
      @include textOverflow();
    }

    @include m(sub) {
      background: #f5f5f5;
      padding: 15px;
    }
  }
}
