@include b(tag) {
  display: inline-block;
  padding: 0 10px;
  height: 32px;
  background-color: rgba(64,158,255,.1);

  line-height: 30px;
  font-size: 12px;
  color: $primary;
  white-space: nowrap;

  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid rgba(64,158,255,.2);

  .ta-icon {
    position: relative;
    right: -5px;
    top: -1px;

    display: inline-block;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding: 5px;
    
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    font-size: 22px;

    cursor: pointer;

    &:hover {
      background-color: $primary;
      color: #fff;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  @include m(info) {
    background-color: hsla(220,4%,58%,.1);
    border-color: hsla(220,4%,58%,.2);
    color: $info;

    .ta-icon:hover {
      background-color: $info;
    }
  }

  @include m(success) {
    background-color: rgba(103,194,58,.1);
    border-color: rgba(103,194,58,.2);
    color: $success;

    .ta-icon:hover {
      background-color: $success;
    }
  }

  @include m(warning) {
    background-color: rgba(230,162,60,.1);
    border-color: rgba(230,162,60,.2);
    color: $warning;

    .ta-icon:hover {
      background-color: $warning;
    }
  }

  @include m(danger) {
    background-color: hsla(0,87%,69%,.1);
    border-color: hsla(0,87%,69%,.2);
    color: $danger;

    .ta-icon:hover {
      background-color: $danger;
    }
  }
}
