@mixin b($block) {
  $B: 'fa-' + $block;

  @at-root .#{$B} {
    @content;
  }
}

@mixin e($element) {
  $E: $element;

  @at-root #{&}__#{$E} {
    @content;
  }
}

@mixin m($modifier) {
  $M: $modifier;

  @at-root #{&}--#{$M} {
    @content;
  }
}

@mixin when($state) {
  $S: 'is-' + $state;

  @at-root .#{$S} {
    @content;
  }
}