@mixin placeholder() {
  &::-webkit-input-placeholder,
  &:-moz-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder { 
    @content;
  }
}

@mixin flexLayout($justify: center, $display: flex) {
  display: $display;
  justify-content: $justify;

  @content;
}

@mixin center() {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin clear() {
  &::before,
  &::after, {
    content: '';
    display: table;
  }

  &::after, {
    clear: both;
  }
}

@mixin textOverflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 小屏幕
@mixin smScreen () {
  @media (max-width: $screen-md-min) {
    @content;
  }
}

// 中屏幕
@mixin mdScreen () {
  @media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
    @content;
  }
}

// 大屏幕
@mixin lgScreen () {
  @media (min-width: $screen-lg-min) {
    @content;
  }
}