.articleWrap {
  padding: 1rem;
  background: var(--bg-second);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);

  .coverWrapper {
    width: 100%;

    img {
      display: inline-block;
      width: 100%;
      height: auto;
      border-radius: var(--border-radius);
    }
  }

  .metaInfoWrap {
    text-align: center;
      
    .title {
      margin: .67em 0 0;
      color: inherit;
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 1rem;
      line-height: 1.5;
      text-align: center;
    }

    .desc {
      margin-bottom: 1.2em;
      color: inherit;
      font-style: italic;
      text-align: center;
    }
  }

  .footerInfoWrap {
    padding: 21px 0;
    margin-top: 30px;
    line-height: 28px;
    color: var(--second-text-color);
    border-top: 1px dashed var(--border-color);
  }

  .copyrightInfo {
    color: #655e5e;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 21px;
  }

  .tagsWrap {
    font-size: 12px;
    margin: 0 -8px;

    .tagWrapper {
      display: inline-block;
      padding: 0 8px;
    }

    .tag {
      display: inline-flex;
      align-items: center;
      padding: 0 8px;
      border: 1px solid var(--border-color);
      border-radius: 2px;
      color: var(--second-text-color);
      background-color: var(--bg-second);
      font-size: 14px;
      text-decoration: none;
      margin-top: 0.5rem;

      &:hover {
        color: #ffffff;
        background-color: var(--primary-color);
      }

      span {
        margin-left: 8px;
      }
    }
  }
}

.commentWrap {
  &.isBg {
    box-shadow: var(--box-shadow);
    background: var(--bg-second);
  }

  .title {
    margin: 1rem 0;
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: .06em;
  }

  > header {
    color: var(--main-text-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 12px;
  }
}
