.wrapper {
  > header {
    color: var(--main-text-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 12px;
  }
}

.item {
  display: block;
  position: relative;
  padding: 4px 0 4px 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    color: var(--primary-color)
  }
}