.wrapper {
  > header {
    margin-bottom: 12px;
    font-weight: 600;
    line-height: 22px;
    color: var(--main-text-color);
  }

  > main {
    > div {
      position: relative;
      padding: 0 10px;
      overflow: auto;

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
        background: transparent;
      }

      > div {
        position: relative;

        &::before {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 2px;
          width: 2px;
          background-color: var(--border-color);
          content: '';
          opacity: 0.5;
        }
      }
    }
  }
}

.item {
  position: relative;
  z-index: 10;
  padding: 4px 0 4px 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover,
  &.active {
    color: var(--primary-color);
  }

  &::before {
    position: absolute;
    top: 50%;
    left: var(--dot-left);
    width: var(--dot-width);
    height: var(--dot-width);
    margin-top: -2px;
    background-color: currentcolor;
    border-radius: 50%;
    content: '';
  }
}

.indicator {
  position: absolute;
  left: -4px;
  width: 100%;
  height: 32px;
  padding: 4px 0 4px 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: var(--bg-code);
  border-radius: var(--border-radius);
  opacity: 0.5;
}
