.listItem {
  padding: 16px 12px;
  background: #ffffff;
}

.comments {
  width: 100%;

  :global {
    .ant-list-item-meta {
      width: 100%;
      overflow: hidden;
    }
  }
}

.recentArticle {
  .title {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 8px;
    color: var(--text-second-color);

    i {
      margin-left: 4px;
      font-size: .8em;
    }
  }
}

.recentArticleItem {
  display: inline-block;
  width: 100%;
  border-radius: 4px;
  color: inherit;

  img {
    display: inline-block;
    display: inline-block;
    width: 100%;
    height: 110px;
    object-fit: cover;
  }

  .title {
    padding: 6px 12px;
    overflow: hidden;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .desc {
    padding: 0 12px 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.articles {
  margin: 24px 0;
}

.action a {
  color: #1890ff;
}
