.wrapper {
  position: relative;
  height: 100%;
}

.bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-position-x: 50%;
  background-position-y: 17%;
  opacity: 0.2;
  background-size: cover;
  background-size: cover;
  filter: blur(20px);
}

.breadcrump {
  position: relative;
  z-index: 2;
  padding-top: 1rem;

  a,
  span {
    color: var(--second-text-color) !important;
  }
}

.desc {
  position: relative;
  z-index: 2;
  text-align: center;

  .coverWrapper {
    width: 100%;
    margin: 1rem auto;
    overflow: hidden;
    border-radius: var(--border-radius);

    img {
      width: 100%;
      height: 100%;
      border-top-right-radius: var(--border-radius);
      border-top-left-radius: var(--border-radius);
      object-fit: cover;
    }
  }

  .infoWrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    .title {
      overflow: hidden;
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      color: var(--main-text-color);
      text-overflow: ellipsis;
      white-space: nowrap;
      font-synthesis: style;
    }

    .desc {
      display: flex;
      max-width: 100%;
      margin-top: 0.8rem;
      overflow: hidden;
      font-size: 14px;
      color: var(--second-text-color);
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .meta {
      width: 100%;
      margin-top: 0.4rem;
      font-size: 14px;
      line-height: 20px;
      color: #8590a6;

      .seperator {
        margin: 0 4px;
      }
    }

    @media (max-width: 768px) {
      .meta {
        flex-wrap: wrap;
      }
    }

    .btnWrap {
      margin-top: 0.8rem;
    }
  }
}

.content {
  position: relative;
  z-index: 2;
}

.tocWrapper {
  > header {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: var(--main-text-color);
  }

  > main {
    margin-top: 1rem;

    &.bgMain {
      padding: 0.8rem;
      background-color: var(--bg-second);
      border-radius: var(--border-radius);
      box-shadow: var(--box-shadow);
    }

    ul {
      margin-top: 2rem;

      li {
        border-radius: var(--border-radius);

        &:hover {
          background-color: var(--bg-body);
        }

        a {
          position: relative;
          display: flex;
          width: 100%;
          height: 44px;
          padding-right: 16px;
          padding-left: 12px;
          font-size: 14px;
          line-height: 20px;
          color: var(--main-text-color);
          align-items: center;
          justify-content: space-between;

          > span:last-of-type {
            opacity: 0;
          }

          @media (max-width: 768px) {
            > span:last-of-type {
              display: none;
            }
          }

          &:hover {
            color: var(--primary-color);

            > span:last-of-type {
              opacity: 1;
            }
          }

          i {
            margin-left: 8px;
          }
        }
      }
    }
  }
}

.footer {
  color: var(--second-text-color) !important;
  background: transparent !important;
  border-top: 0 !important;
}
