.container {
  position: relative;
  margin-top: 40px;
}

.coverWrapper {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding-bottom: 1.5rem;

  img {
    display: inline-block;
    width: 100%;
    height: auto;
  }
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 8px 21px;

  > div {
    padding-top: 0.5rem;
  }
}

@media (max-width: 768px) {
  .content {
    padding-left: 0;
    padding-right: 0;
  }
}
