.wrapper {
  > footer {
    padding-top: 12px;
    text-align: right;
  }
}

.content {
  width: 375px;
  padding: 1.5rem 2rem;
  background: var(--bg-second);
  box-shadow: var(--box-shadow);

  .main {
    .cover {
      width: 100%;
      border-radius: var(--border-radius);
      object-fit: cover;
    }

    .title {
      min-width: 225px;
      padding: 12px 0;
      border: 0;
      margin-bottom: 0;
      color: var(--main-text-color);
      overflow: hidden;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
    }

    .desc {
      display: -webkit-box;
      max-width: 100%;
      padding: 0 0 12px;
      color: var(--second-text-color);
      font-size: 14px;
    }
  }

  .footer {
    display: flex;
    flex-wrap: nowrap;

    .code {
      width: 80px;
      height: 80px;
      padding: 0;
    }

    > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0.5rem 1rem;

      > p {
        &:first-of-type {
          color: var(--main-text-color);
        }

        &:last-of-type {
          color: var(--second-text-color);
          font-size: 0.9em;
        }
      }

      a {
        color: var(--primary-color);
      }
    }
  }
}

.iconWrap {
  width: 32px;
  height: 32px;
  font-size: 24px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--bg-second);
  color: var(--disable-text-color);

  &:hover,
  &.active {
    color: var(--primary-color);
  }

  + .iconWrap {
    margin-top: 12px;
  }
}
