.wrapper {
  padding: 24px;
  margin-bottom: 16px;
  background: #ffffff;

  .content {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;

    > div {
      display: inline-flex;
      align-items: center;
    }
  }
}
