input::-webkit-input-placeholder { 
  font-size: 13px;
}

input:-moz-placeholder {
  font-size: 13px;
}

input::-moz-placeholder {
  font-size: 13px;
}

input:-ms-input-placeholder {
  font-size: 13px;
}
