.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  > header {
    display: flex;
    justify-content: space-between;
    padding: 12px;

    .info {
      color: var(--second-text-color);
      margin-right: 8px;
    }
  }

  > main {
    flex: 1;
    display: flex;
    overflow: hidden;

    > aside {
      width: 240px;
      border-top: 1px solid var(--border-color);
      border-right: 1px solid var(--border-color);

      display: flex;
      flex-direction: column;

      > header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        padding: 0 12px;
        border-bottom: 1px solid var(--border-color);

        > .action {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 4px 8px;
          cursor: pointer;

          + .action {
            margin-top: 8px;
          }

          &:hover {
            color: var(--main-text-color);
            background-color: var(--border-color);
          }
        }
      }

      > main {
        padding: 6px 12px;
        flex: 1;
        overflow: hidden;

        > ul {
          list-style: none;

          > li.item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px 8px;
            cursor: pointer;
            border-radius: var(--border-radius);

            > span:nth-of-type(2) {
              flex: 1;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              margin-left: 8px;
            }

            i {
              opacity: 0;
            }

            + li {
              margin-top: 0.5rem;
            }

            &:hover,
            &:focus {
              i {
                opacity: 1;
              }
            }

            &:hover,
            &.active {
              color: var(--main-text-color);
              background-color: var(--bg-second);
            }
          }
        }
      }
    }

    > section {
      position: relative;
      flex: 1;
      background: var(--bg-body);

      .helper {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.1em;
      }
    }
  }
}
