:global {
  .copy-code-btn {
    position: absolute;
    top: 9px;
    right: 15px;
    font-size: 12px;
    line-height: 1;
    cursor: pointer;
    color: hsla(0,0%,54.9%,.8);
    transition: color .1s;
  }
}