@include b(page) {
  background: #fff;
  padding: 15px;

  .row {
    margin-top: 15px;
  }

  @include smScreen {
    .col-md-6 {
      &:last-of-type {
        margin-top: 15px;
      }
    }
  }

  @include e(chart) {
    background: #fff;
    border: 1px solid $border;
    border-radius: 5px;
    
    .head {
      padding: 15px;
      border-bottom: 1px solid $border;
      @include flexLayout(flex-start) {
        align-items: center;
      };

      > .ta-icon {
        margin-right: 6px;

        &::before {
          transform: translateY(0px);
        }
      }
    
      // > .ta-select {
      //   flex: 1;
      // }
    }

    .body {
      padding: 15px 0;
      min-height: 300px;
    }
  }
}