@import './var.scss';

:global {
  * {
    transition: background-color .2s ease-in-out, margin .2s ease-in-out, opacity .2s ease-in-out, filter .2s ease-in-out, visibility .2s ease-in-out, transform .2s ease-in-out, border-color .2s ease-in-out;
  }

  ::-webkit-scrollbar-track {
    border-radius: 0;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0;
    border-radius: .5rem;
    background-color: transparent;
    transition: all .2s;
  }

  *:hover {
    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-bg);
    }
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: transparent;
  }

  html {
    text-size-adjust: 100% !important;
    touch-action: manipulation;
  }

  body {
    color: var(--main-text-color);
    background-color: var(--bg);
    overflow-x: hidden;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
    line-height: 1.75em;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  p {
    list-style: none;
    margin: 0;
  }

  a {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  iframe {
    display: block;
    width: 100%;
    height: 450px;
    border: 0;
    overflow: hidden;
    clear: both;
    margin: 1rem 0;;
  }

  table {
    font-size: 125%;
    margin: 0;
    border: none;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
  }

  table td,
  table th {
    padding: 0.5rem 1rem;
  }

  table thead th {
    padding: 3px;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 25vw;
  }

  table td {
    padding: 4px 5px;
    text-align: center;
  }
  
  table tbody th {
    font-weight: 100;
    font-style: italic;
    text-align: left;
    position: relative;
  }

  table thead th:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
  }

  table tbody th {
    position: sticky;
    left: 0;
    z-index: 1;
  }

  caption {
    text-align: left;
    padding: 0.25rem;
    position: sticky;
    left: 0;
  }
  
  .container {
    margin-right: auto;
    margin-left: auto;
  }

  @media (max-width: 768px) {
    .container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  @media (min-width: 768px) {
    .container {
      width: 768px;
    }
  }

  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      width: 1140px;
    }
  }

  @media (min-width: 1560px) {
    .container {
      width: 80vw;
    }
  }

  .item-enter {
    opacity: 0;
    transform: scale(.9);
  }

  .item-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }

  .item-exit {
    opacity: 1;
  }

  .item-exit-active {
    opacity: 0;
    transform: scale(.9);
    transition: opacity 300ms, transform 300ms;
  }

  .sticky {
    position: sticky;
    top: 1rem;
    margin-bottom: 1rem;
  }

  .loading {
    padding: 2rem 0 1rem;
    text-align: center;
  }

  .empty {
    width: 100%;
    height: 60px;
    border-radius: var(--border-radius);
    color: var(--second-text-color);
    background: var(--bg-second);
    font-size: 14px;
    line-height: 60px;
    text-align: center;
  }
}
