@import './var.scss';

:global {
  * {
    transition: background-color 0.2s ease-in-out, margin 0.2s ease-in-out, opacity 0.2s ease-in-out,
      filter 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s ease-in-out,
      border-color 0.2s ease-in-out;
  }

  ::-webkit-scrollbar-track {
    border-radius: 0;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0;
    border-radius: 0.5rem;
    background-color: transparent;
    transition: all 0.2s;
  }

  *:hover {
    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-bg);
    }
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: transparent;
  }

  html {
    text-size-adjust: 100% !important;
    touch-action: manipulation;
  }

  body {
    color: var(--main-text-color);
    background-color: var(--bg);
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei,
      Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
    line-height: 1.75em;
  }

  @media (max-width: 768px) {
    body {
      width: 100% !important;
      padding-bottom: constant(safe-area-inset-bottom); /*兼容 IOS<11.2*/
      padding-bottom: env(safe-area-inset-bottom); /*兼容 IOS>11.2*/
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  p {
    list-style: none;
    margin: 0;
  }

  a {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  iframe {
    display: block;
    width: 100%;
    height: 450px;
    border: 0;
    overflow: hidden;
    clear: both;
    margin: 1rem 0;
  }

  .container {
    margin-right: auto;
    margin-left: auto;
  }

  @media (max-width: 768px) {
    .container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  @media (min-width: 768px) {
    .container {
      width: 768px;
    }
  }

  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      width: 1140px;
    }
  }

  .sticky {
    position: sticky;
    top: 1rem;
    margin-bottom: 1rem;
  }

  .loading {
    padding: 2rem 0 1rem;
    text-align: center;
  }

  .empty {
    width: 100%;
    height: 60px;
    color: var(--second-text-color);
    font-size: 14px;
    line-height: 60px;
    text-align: center;
  }

  .ant-back-top {
    bottom: 60px !important;
  }
}
