$primaryColor: #0188fb;
// $primaryColor: #0188fb;
// $primaryColor: #fff0f6;

$textPrimaryColor: rgba(0, 0, 0, 0.88);
$textSecondColor: rgba(0, 0, 0, 0.66);

$asideWidth: 268px;
$asidePaddingHorizontal: 30px;

$borderColor: #ebebeb;
