.wrapper {
  height: 100%;
  padding: 1rem  0;
  background-color: var(--bg-body);
}

.breadcrump {
  margin-bottom: 16px;

  a, span {
    color: var(--second-text-color) !important;
  }
}

.content {
  > article {
    padding: 1rem;
    background: var(--bg-second);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);

    .meta {
      text-align: center;
  
      .title {
        color: inherit;
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 1rem;
        line-height: 1.5;
        text-align: center;
      }
  
      .desc {
        margin-bottom: 1.2em;
        color: inherit;
        font-style: italic;
        text-align: center;
      }
    }
  
    .copyrightInfo {
      color: #655e5e;
      font-size: 12px;
      line-height: 22px;
      text-align: center;
      margin-bottom: 21px;
    }

    .navigation {
      display: flex;
      justify-content: space-between;
      width: 100%;
      position: relative;
      border-top: 1px solid rgba(0,0,0,.07);
      padding: 20px 0 20px;
      margin-top: 20px;

      > div {
        position: relative;
        width: 40%;
        padding: 8px;
        border-radius: var(--border-radius);
        background: var(--bg-second);
        border: 1px solid var(--border-color);
        box-shadow: var(--box-shadow);
        overflow: hidden;

        &:hover {
          color: var(--primary-color);
          border-color: var(--primary-color);
        }

        > a {
          display: flex;
          align-items: center;
          padding: 1rem .5rem;
          overflow: hidden;
          
          span {
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: calc(100% - 30px);
          }
        }

        &.right {
          text-align: right;
          > a {
            justify-content: flex-end;
          }
        }
      }
    }
  }

  .commentWrap {
    &.isBg {
      box-shadow: var(--box-shadow);
      background: var(--bg-second);
    }
  
    .title {
      margin: 1rem 0;
      color: var(--main-text-color);
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      letter-spacing: .06em;
    }
  
    > header {
      color: var(--main-text-color);
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 12px;
    }
  }  
}

.infoWrapper {
  padding: .8rem 0;
  border-radius: var(--border-radius);
  
  &.isBg {
    background: var(--bg-second);
    padding: .8rem;
    
    > main {
      max-height: 200px;
      overflow: auto;
      scroll-behavior: smooth;
      overscroll-behavior: contain;
    }
  }

  > header {
    color: var(--main-text-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 12px;
  }

  > main {
    > ul {
      li {
        border-radius: var(--border-radius);

        &:hover {
          background-color: var(--bg-body);
        }

        a {
          display: flex;
          align-items: center;
          justify-content: space-between;

          width: 100%;
          height: 32px;

          font-size: 14px;
          line-height: 20px;
        
          padding-left: 12px;
          padding-right: 16px;

          &.active,
          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }
  }
}
