.wrapper {
  border-radius: var(--border-radius);
  margin-bottom: 1.3rem;
  box-shadow: var(--box-shadow);
  line-height: 1.29;

  display: flex;
  flex-wrap: wrap;
  align-items: center;


  .title {
    color: var(--second-text-color);
    margin-right: 12px;
  }

  .tagItem {
    padding: 8px 20px;
    background: var(--bg-second);
    border-radius: 15px;

    &:hover {
      color: #fff;
      background: var(--primary-color);
    }

    + .tagItem {
      margin-left: 12px;
    }
  }
}

@media (max-width: 576px) {
  .wrapper {
    display: none;
  }
}
