$primary: #409efe;
$success: #67c23a;
$warning: #e6a23c;
$danger: #f56c6c;
$info: #909399;

$primaryFont: #303133;
$font: #606266;

$border: #f1f1f1;
$bg: #2d3a4b;

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;