@mixin placeholder() {
  &::-webkit-input-placeholder,
  &:-moz-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder { 
    @content;
  }
}

@mixin flexLayout($justify: center, $display: flex) {
  display: $display;
  justify-content: $justify;

  @content;
}

@mixin center() {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin clear() {
  &::before,
  &::after, {
    content: '';
    display: table;
  }

  &::after, {
    clear: both;
  }
}

@mixin textOverflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@function px2rem($i) {
  @return ($i/12)*1rem;
}
