.left {
  padding: 0;
  background: none;
  border-radius: 0;
}

.tagOrCategoryDetail {
  padding: 16px 0;
  margin-bottom: 1rem;
  background: var(--bg-second);
  text-align: center;

  i {
    color: var(--disable-text-color);
    font-size: 2.5rem;
  }

  p {
    margin-bottom: 0;

    &:first-of-type {
      margin-top: .5rem;

      span {
        color: var(--primary-color);
        font-size: 1.5rem;
      }
    }

    &:last-of-type {
      span {
        color: var(--primary-color);
        font-size: 1.1rem;
      }
    }
  }
}

.footer {
  border-top: 1px solid var(--border-color);
  color: var(--disable-text-color);
  background-color: transparent;
}
