.wrapper {
  background-color: var(--bg-body);
  min-height: calc(100vh + 100px);
}

.container {
  padding-top: 1rem;
  padding-bottom: 1rem;

  .content {
    position: relative;
    padding-right: 21.5rem;
    padding-bottom: 2rem;

    .loading {
      padding: 2rem 0 1rem;
      text-align: center;
    }

    .aside {
      position: absolute;
      top: 0;
      right: 0;
      width: 21.5rem;
      padding: 0 0 0 1.5rem;

      div.isFixed {
        position: fixed;
        top: 1rem;
        width: 20rem;
      }

      .footer {
        border-top: 1px solid var(--border-color);
        background-color: transparent;
        color: var(--disable-text-color);
      }
    }
  }

  @media (max-width: 768px) {
    .content {
      padding-right: 0;
    }

    .aside {
      display: none;
    }
  }
}

.tagOrCategoryDetail {
  padding: 16px 0;
  background: var(--bg-second);
  text-align: center;
  margin-bottom: 1rem;

  i {
    font-size: 2.5rem;
    color: var(--disable-text-color);
  }

  p {
    margin-bottom: 0;

    &:first-of-type {
      margin-top: 0.5rem;

      span {
        font-size: 1.5rem;
        color: var(--primary-color);
      }
    }

    &:last-of-type {
      span {
        font-size: 1.1rem;
        color: var(--primary-color);
      }
    }
  }
}
