.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  width: 100vw;
  height: 100vh;
  padding: 2rem 1rem;
  background: var(--bg);
  overflow: auto;

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    .title {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      font-weight: 600;
    }

    .btnWrapper {
      display: flex;
      flex-direction: column;
      color: var(--disable-text-color);
      cursor: pointer;

      svg {
        width: 25px;
        height: 25px;
      }
    }
  }

  ul {
    list-style: circle;

    li {
      display: flex;
      align-items: center;

      &:hover {
        background: var(--bg-body);
      }

      a {
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 12px 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
