.bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  overflow: hidden;
}

.inner {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 10vh;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 100;
  width: 768px;
  max-height: 70vh;
  padding: 1rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background: var(--bg);
  opacity: 1;
  overflow: hidden;

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    .title {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      font-weight: 600;
    }

    .btnWrapper {
      display: flex;
      flex-direction: column;
      color: var(--disable-text-color);
      cursor: pointer;

      svg {
        width: 25px;
        height: 25px;
      }
    }
  }

  .result {
    flex: 1;
    overflow: auto;
  }

  ul {
    list-style: circle;

    li {
      display: flex;
      align-items: center;

      &:hover {
        background: var(--bg-body);
      }

      a {
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 12px 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

@media (min-width: 992px) {
  .inner {
    width: 768px;
  }
}

@media (max-width: 576px) {
  .inner {
    width: 92%;
  }
}
