$height: 64px;

.header {
  position: relative;
  width: 100%;
  height: $height;
  transition: all 0.3s ease-in-out;
}

.wrapper {
  position: relative;
  z-index: 100;
  width: 100vw;
  height: $height;
  background-color: var(--bg);
  border-bottom: 1px solid var(--border-color);

  &.boxShadow {
    box-shadow: var(--box-shadow);
  }

  &.isFixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.2s;
    transform: translate3d(0, -100%, 0);

    &.visible {
      transform: translateZ(0);
    }
  }

  > div {
    position: relative;
    display: flex;
    align-items: center;
  }

  .logo {
    height: $height;
    margin-right: 4rem;
    color: var(--main-text-color);
    line-height: $height;
    text-align: left;

    img {
      display: inline-block;
      height: 36px;
    }
  }

  .mobileTrigger {
    position: absolute;
    right: 15px;
    display: none;

    .stick {
      width: 25px;
      height: 4px;
      border-radius: var(--border-radius);
      background-color: var(--primary-color);
      opacity: 1;
      transition: all 250ms ease-in-out 0s;

      &:nth-of-type(2) {
        margin: 5px 0;
      }
    }

    &.active {
      .stick {
        &:first-of-type {
          transform: translateY(9px) rotate(45deg);
        }

        &:nth-of-type(2) {
          opacity: 0;
        }

        &:last-of-type {
          transform: translateY(-9px) rotate(-45deg);
        }
      }
    }
  }

  nav {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    color: var(--main-text-color);
    font-size: 16px;

    > ul {
      position: relative;
      width: 100%;

      > li {
        display: inline-flex;
        padding: 0;
        padding: 0 20px;
        vertical-align: middle;
        line-height: 64px;

        &.toolWrapper {
          font-size: 24px;
        }

        &:first-of-type {
          padding-left: 0;
        }

        &:hover {
          color: var(--primary-color);
        }

        &.active {
          color: var(--primary-color);
        }

        a {
          width: 100%;
          color: inherit;
        }
      }

      .toolWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 64px;
        float: right;
      }

      @media (max-width: 768px) {
        > li {
          text-align: center;

          &:first-child {
            margin-top: 24px;
          }
        }

        .toolWrapper {
          height: 48px;
          float: none;
        }
      }
    }
  }

  @media (max-width: 768px) {
    nav {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100vw;
      max-height: 0;
      padding: 0 15px;
      margin-left: 0;
      background-color: var(--bg);
      overflow: hidden;
      transition: max-height 0.25s;
      z-index: 100;

      &.active {
        max-height: 100vh;
        overflow: auto;
      }

      > ul {
        width: 100%;

        > li {
          display: flex;
          padding: 0;
          line-height: 48px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .mobileTrigger {
      display: block;
    }
  }
}
