$height: 64px;

.header {
  position: relative;
  width: 100%;
  height: $height;
}

.wrapper {
  width: 100vw;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--bg);

  &.isFixed {
    position: fixed;
    z-index: 1000;
    transform: translateY(-100%);

    &.visible {
      transform: translateY(0);
    }
  }

  &.boxShadow {
    box-shadow: var(--box-shadow);
  }

  > div {
    position: relative;
    display: flex;
    align-items: center;
  }

  .logo {
    height: $height;
    line-height: $height;
    text-align: left;
    color: var(--main-text-color);
    margin-right: 2rem;

    img {
      display: inline-block;
      height: 36px;
    }
  }

  .mobileTrigger {
    display: none;
    position: absolute;
    right: 15px;

    .stick {
      width: 25px;
      height: 4px;
      background-color: var(--primary-color);
      opacity: 1;
      border-radius: var(--border-radius);
      transition: all 250ms ease-in-out 0s;

      &:nth-of-type(2) {
        margin: 5px 0;
      }
    }

    &.active {
      .stick {
        &:first-of-type {
          transform: translateY(9px) rotate(45deg);
        }

        &:nth-of-type(2) {
          opacity: 0;
        }

        &:last-of-type {
          transform: translateY(-9px) rotate(-45deg);
        }
      }
    }
  }

  nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--main-text-color);
    font-size: 16px;

    ul {
      width: 100%;
      position: relative;

      li {
        display: inline-flex;
        padding: 0;
        vertical-align: middle;
        line-height: 64px;
        padding: 0 16px;

        &:first-of-type {
          padding-left: 0;
        }

        &.active {
          color: var(--primary-color);
        }

        a {
          color: inherit;
          width: 100%;
        }
      }

      .searchWrapper,
      .themeToggle {
        float: right;
        margin-top: 32px;
        transform: translateY(-50%);
      }

      .search {
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMTkuMTMgMTkuMjEiPjxkZWZzPjxzdHlsZT4uY2xzLTEsLmNscy0ze2ZpbGw6bm9uZTt9LmNscy0ye2NsaXAtcGF0aDp1cmwoI2NsaXAtcGF0aCk7fS5jbHMtM3tzdHJva2U6IzAwMDtzdHJva2UtbWl0ZXJsaW1pdDoxMDtzdHJva2Utd2lkdGg6MnB4O308L3N0eWxlPjxjbGlwUGF0aCBpZD0iY2xpcC1wYXRoIj48cmVjdCBjbGFzcz0iY2xzLTEiIHg9IjE0LjU3IiB5PSIxNC42NSIgd2lkdGg9IjMuODUiIGhlaWdodD0iMy44NSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzMgMzMuMTUpIHJvdGF0ZSgtMTgwKSIvPjwvY2xpcFBhdGg+PC9kZWZzPjx0aXRsZT5zZWFyY2g8L3RpdGxlPjxnIGlkPSLlm77lsYJfMiIgZGF0YS1uYW1lPSLlm77lsYIgMiI+PGcgaWQ9ImRlc2lnbiI+PGcgaWQ9IuWvvOiIqiI+PGcgY2xhc3M9ImNscy0yIj48bGluZSBjbGFzcz0iY2xzLTMiIHgxPSIxOC40MyIgeTE9IjE4LjUiIHgyPSIxNC41NyIgeTI9IjE0LjY1Ii8+PC9nPjxjaXJjbGUgY2xhc3M9ImNscy0zIiBjeD0iOSIgY3k9IjkiIHI9IjgiLz48L2c+PC9nPjwvZz48L3N2Zz4=')
          100% 50% no-repeat;
        cursor: pointer;
        transform: translateY(-1px);
      }

      .themeToggle {
        float: right;
      }

      @media (max-width: 768px) {
        li {
          text-align: center;

          &:first-child {
            margin-top: 24px;
          }
        }

        .searchWrapper,
        .themeToggle {
          float: none;
          margin-top: 0;
          transform: translateY(0);
        }

        .search,
        .themeToggle button {
          margin: 12px auto;
        }
      }
    }
  }

  @media (max-width: 768px) {
    nav {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 100;
      width: 100vw;
      padding: 0 15px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.25s;
      margin-left: 0;
      background-color: var(--bg);

      &.active {
        max-height: 100vh;
        overflow: auto;
        border-top: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
      }

      ul {
        width: 100%;

        li {
          display: flex;
          padding: 0;
          line-height: 48px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .mobileTrigger {
      display: block;
    }
  }
}
