@include b(page) {
  // @include e(container) {
  //   max-width: 1200px;
  //   margin: 0 auto;
  //   @include flexLayout(flex-start);
  // }

  @include e(statics) {
    flex: 1;
    padding: 0;
    @include flexLayout(space-between) {
      flex-wrap: wrap;
    };

    > div {
      width: 100%;
      height: 80px;
      font-size: 12px;
      color: #666;
      background: #fff;
      border-radius: 4px;
      cursor: pointer;
      display: inline-block;
      overflow: hidden;
      @include clear;
      @include flexLayout(flex-start);

      > div {
        float: left;
        box-sizing: border-box;
        height: 100%;
      }

      .icon {
        line-height: 36px;
        font-size: 40px;
        padding: 15px;
      }

      .info {
        flex: 1;
        font-weight: bold;
        padding: 0 20px;
        overflow: hidden;
        @include flexLayout {
          align-items: center;
          flex-direction: column;
        };

        p {
          &:first-of-type {
            font-size: 20px;
            margin-bottom: .5em;
          }

          &:last-of-type {
            color: $primaryFont;
            font-weight: normal;
          }
        }
      }
    }
  }


  // @include mdScreen {
  //   @include e(userInfo) {
  //     margin-top: 15px;
  //   }
  // }

  // @include smScreen {
  //   @include e(userInfo) {
  //     margin-top: 15px;
  //   }
  // }

  // @include smScreen {
  //   .col-sm-12 {
  //     margin-top: 15px;

  //     &:first-of-type {
  //       margin-top: 0;
  //     }
  //   }
  // }

  @include e(userInfo) {
    box-sizing: border-box;
    height: 220px;
    min-width: 300px;
    background: #fff;
    border-radius: 4px;
    padding: 15px;
    margin-right: 15px;

    .head {
      padding: 10px 0;
      margin-bottom: 10px;
      border-bottom: 1px solid $border;
      @include flexLayout(flex-start) {
        align-items: stretch;
      };

      .avatar {
       width: 120px;
       height: 120px;
      }

      .col-9 {
        @include flexLayout(flex-start) {
          align-items: center;
        };

        p {
          font-size: 14px;
        }

        .account {
          font-size: 2em;
          color: $primary;
          margin-bottom: .5em;
        }
      }
    }

    .footer {
      padding: 10px;
    }
  }

  // @include e(statics) {
  //   width: 100%;
  //   height: 91px;
  

  //   @each $key, $val in ('primary': $primary, 'danger': $danger, 'success': $success) {
  //     @include when($key) {
  //       border: 1px solid $val;

  //       .icon-message {
  //         background: $val;
  //         color: #fff;
  //       }

  //       .info {
  //         color: $val;
  //       }
  //     }
  //   }

  //   .icon-message {
  //     float: left;
  //     height: 100%;
  //     padding: 0 16px;
      

  //     @include flexLayout {
  //       align-items: center;
  //     };

  //     .ta-icon {
  //       font-size: 36px;
  //     }
  //   }

 
  // }

  @include lgScreen {
    @include e(statics) {
      height: 87px;
    }
  }
}