@include b(page) {
  @include smScreen {
    .row > div {
      margin-top: 15px;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  .row > div {
    overflow: hidden;
  }

  @include e(statics) {
    padding: 0;

    > li  {
      height: 90.5px;
      font-size: 12px;
      color: #666;
      background: #fff;
      border-radius: 4px;
      cursor: pointer;
      overflow: hidden;
      @include clear;
      @include flexLayout(flex-start);
      margin-top: 10px;

      &:first-of-type {
        margin-top: 0;
      }

      @each $key, $val in ('primary': $primary, 'danger': $danger, 'success': $success) {
        @include when($key) {
          border: 1px solid $val;

          .icon {
            background: $val;
            color: #fff;
          }

          .info {
            color: $val;
          }
        }
      }

      > div {
        float: left;
        box-sizing: border-box;
        height: 100%;
      }

      .icon {
        width: 80px;
        line-height: 36px;
        font-size: 40px;
        padding: 15px;
        text-align: center;
      }

      .info {
        flex: 1;
        font-weight: bold;
        padding: 0 20px;
        overflow: hidden;
        @include flexLayout {
          align-items: center;
          flex-direction: column;
        };

        p {
          &:first-of-type {
            font-size: 20px;
            margin-bottom: .5em;
          }

          &:last-of-type {
            color: $primaryFont;
            font-weight: normal;
          }
        }
      }
    }
  }

  @include e(userInfo) {
    box-sizing: border-box;
    height: 220px;
    min-width: 300px;
    background: #fff;
    border-radius: 4px;
    padding: 15px;
    height: 400px;
    border: 1px solid $border;

    .head {
      padding: 10px 0;
      margin-bottom: 10px;
      border-bottom: 1px solid $border;
      @include flexLayout(flex-start) {
        align-items: stretch;
      };

      .avatar {
       width: 120px;
       height: 120px;
      }

      .col-9 {
        margin-left: 10px;
        @include flexLayout(flex-start) {
          align-items: center;
        };

        p {
          font-size: 14px;
        }

        .account {
          font-size: 2em;
          color: $primary;
          margin-bottom: .5em;
        }
      }
    }

    .footer {
      padding: 10px;

      p {
        margin-top: 10px;

        span:first-child {
          color: #666;
        }

        &:first-of-type {
          margin-top: 0;
        }
      }
    }
  }

  @include e(chart) {
    background: #fff;
    height: 400px;
    border: 1px solid $border;
    border-radius: 5px;
    overflow: hidden;
    
    .head {
      padding: 15px;
      border-bottom: 1px solid $border;
      @include flexLayout(flex-start) {
        align-items: center;
      };

      > .ta-icon {
        margin-right: 6px;

        &::before {
          transform: translateY(0px);
        }
      }
    }

    .body {
      padding: 15px 0;
    }
  }
}