.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  user-select: none;

  > header {
    height: 40px;
    background: #fff;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    font-size: 12px;

    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    span {
      user-select: none;
      cursor: pointer;

      i {
        margin-right: 6px;
      }
    }

    .toolWrap {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 4px 8px;
      cursor: pointer;
      font-size: 16px;
      
    }
  }

  > main {
    flex: 1;
    height: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    > div {
      width: 50%;
      height: 100%;
      overflow: auto;
      background-color: #fff;
    }

    .tocWrapper {
      border-left: 1px solid var(--border-color);
      padding: 1rem;
      height: 100%;

      header {
        display: flex;
        justify-content: space-between;
        padding-bottom: .6rem;
        font-weight: 700;
        border-bottom: 1px solid var(--border-color);
      }

      main {
        padding: 1rem 0;
      }
    }
  }
}


