.wrapper {
  border-radius: var(--border-radius);
  background-color: var(--bg-second);
  box-shadow: var(--box-shadow);
  margin-bottom: 1.3rem;
  line-height: 1.29;

  .title {
    padding: 1rem 1.3rem;
    color: var(--main-text-color);
    font-weight: bold;
    border-bottom: 1px solid var(--border-color);

    span {
      margin-left: 8px;
    }
  }

  .empty {
    width: 100%;
    text-align: center;
    padding: 0 12px 12px;
    font-size: 14px;
    color: #8590a6;
    line-height: 20px;
  }

  ul.inlineWrapper {
    padding: 0 1rem 1rem;

    li.inlineItem {
      display: flex;
      flex-wrap: nowrap;
      align-items: stretch;
      padding-top: 1rem;
      color: var(--second-text-color);

      > div:last-of-type {
        display: flex;
        align-items: center;
      }

      a {
        span:first-of-type {
          color: var(--main-text-color);
        }

        &:hover {
          color: var(--primary-color);

          span:first-of-type {
            color: inherit;
          }
        }
      }

      p {
        margin: 0;
      }

      img {
        display: inline-block;
        width: 6.8rem;
        height: 3.8rem;
        margin-right: 0.8rem;
      }
    }
  }

  ul.horizontalWrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    overflow: auto;
    padding: 1rem 0;

    li.horizontalItem {
      min-width: 245px;
      width: 245px;
      border-radius: 5px;
      box-shadow: var(--box-shadow);
      padding: 0;
      background: var(--bg-second);
      margin-right: 14px;
      position: relative;
      overflow: hidden;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.04);
      }

      img {
        height: 123px;
        width: 245px;
        -o-object-fit: cover;
        object-fit: cover;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      .title {
        font-weight: 600;
        font-synthesis: style;
        font-size: 16px;
        min-width: 225px;
        color: var(--main-text-color);
        line-height: 22px;
        padding: 12px;
        border: 0;
        margin-bottom: 0;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .meta {
        width: 100%;
        padding: 0 12px 12px;
        font-size: 14px;
        color: #8590a6;
        line-height: 20px;
      }
    }
  }
}
