.formItem {
  display: flex;
  align-items: center;

  + .formItem {
    margin-top: 16px;
  }

  > span {
    padding-right: 16px;
  }

  > div {
    flex: 1;
  }
}

.cover {
  .preview {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    background-color: #f5f5f5;
    color: #888;
    margin-bottom: 16px;

    img {
      max-width: 100%;
      max-height: 180px;
      display: block;
    }
  }

  button {
    margin-top: 16px;
  }
}
