.articleItem {
  > div > div {
    border: 1px solid var(--border-color);
    background: var(--bg-second);
    border-radius: var(--border-radius);

    &:hover {
      box-shadow: var(--box-shadow);
      border-color: var(--border-color);

      .title {
        color: var(--primary-color);
      }
    }
  }

  .coverWrapper {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }
  }

  .title {
    color: var(--main-text-color);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .summary {
    color: var(--second-text-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .meta {
    width: 100%;
    color: #8590a6;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .seperator {
      margin: 0 4px;
    }
  }
}

@media (max-width: 576px) {
  .articleItem + .articleItem {
    margin-top: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .articleItem:nth-child(n + 3) {
    margin-top: 1rem;
  }
}

@media (min-width: 768px) {
  .articleItem:nth-child(n + 4) {
    margin-top: 1rem;
  }
}
