@include b(login) {
  position: fixed;
  left: 0;
  top: 0;

  width: 100vw;
  height: 100vh;
  background-color: $bg;

  @include flexLayout(center) {
    align-items: center;
    flex-direction: column;
  }

  @include e(container) {
    width: 420px;
    padding: 15px 30px;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;

    h1 {
      font-size: 26px;
      color: #fff;
      font-weight: normal;
      padding: 30px 0;
    }

    .btn-login {
      width: 100%;
      margin-top: 22px;
    }

    .register {
      margin: 22px 0;
      padding: 10px 0 15px;
      color: #999;
      font-size: 14px;
      text-align: right;

      a {
        color: #fff;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .form-group {
      position: relative;
      width: 100%;
      margin: 22px 0;

      &:first-of-type {
        margin-top: 0;
      }
  
      input {
        width: 100%;
      }

      input.is-invalid {
        border-color: $danger;
      }

      p {
        position: absolute;
        text-align: left;
        color: $danger;
        font-size: 12px;
        left: 2px;
      }
    }
  }
}
