@include b(login) {
  position: fixed;
  left: 0;
  top: 0;

  width: 100vw;
  height: 100vh;
  background-color: $bg;

  align-items: center;
  flex-direction: column;
  @include flexLayout(flex-start);

  @include e(container) {
    width: 420px;
    padding: 15px 30px;
    text-align: center;
    margin: 180px auto;
    background: #fff;
    border-radius: 5px;

    h1 {
      font-size: 26px;
      font-weight: normal;
      // margin-bottom: 40px;
      padding: 15px 0;
    }

    button {
      width: 100%;
      margin-top: 22px;
    }

    .register {
      margin: 22px 0;
      padding: 10px 0 15px;
      color: #999;
      font-size: 14px;
      border-top: 1px solid $border;

      button {
        margin-top: 10px;
      }
    }

    .form-group {
      position: relative;
      width: 100%;
      margin: 22px 0;

      &:first-of-type {
        margin-top: 0;
      }
  
      input {
        width: 100%;
      }

      input.is-invalid {
        border-color: $danger;
      }

      p {
        position: absolute;
        text-align: left;
        color: $danger;
        font-size: 12px;
        left: 2px;
      }
    }
  }
}
