@import 'normalize.scss';
@import 'markdown.scss';
@import 'nprogress.scss';

:global {
  html {
    font-size: 12px;
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(255,255,255,1);
    border-radius: 0;
    background: rgba(255,255,255,1);
  }

  .container {
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }

  @media (min-width: 992px) {
    .container {
      width: 960px;
    }
  }
  
  .form-control {
    display: inline-block;
  }

  input {
    display: inline-block;
    box-sizing: border-box;
    padding: .4rem .9rem;
    font-size: inherit;
    line-height: 1;
    background-image: none;
    background-color: #fff;
    border: 1px solid #eee;
    outline: none;
    transition: border-color .2s cubic-bezier(.645,.045, .355, 1);
  }
}
