.fade-out-enter-active {
  animation: fade-enter ease .3s;
}

.fade-out-leave-active {
  animation: fade-leave ease .8s;
}

@keyframes fade-enter {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-leave {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
