// 向下方进入
.slide-down-enter-active {
  animation: enter ease .3s;
}

.slide-down-leave-active {
  animation: leave ease .5s;
}

@keyframes enter {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes leave {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

// 向左边进入
.slide-left-enter-active {
  animation: left-enter ease .3s;
}

.slide-left-leave-active {
  animation: left-leave ease .5s;
}

@keyframes left-enter {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes left-leave {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateX(100%);
  }
}
