@import '../../../theme/global.scss';

@include b(nav) {
  width: 100%;
  padding: 1rem 0;

  font-size: px2rem(14);
  color: #71777c;
  
  @include e(menu) {
    height: px2rem(45);  
    display: flex;
  }

  @include e(menu-item) {
    position: relative;
    padding: 0 1rem;
    @include flexLayout(center) {
      align-items: center;
    };
    
    @include when(active) {
      color: $primary;
    }

    a {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
}
